@charset "ISO-8859-1";


/* form styling */


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	
	float:left;	
	width: 100%;
}

div#formcol1 label {
	float:left;
	width:8.3em;
	text-align:right;
	display:block;
	padding-right:.3em;	
	background:rgb(255, 255, 255);
	clear:right;
	}
	

div#formcol1 ul li {
	list-style-type:none;
	margin-left:-2em;
	margin-bottom:.4em;
	}

	
div#formcol1 input {	
	margin-left:1.5em;
	text-align:left;
	display:block;
	clear:right;
	background-color:#F4F4F4;
	}


/* div for radio buttons and check boxes */

#multchoice {
	clear:left;
}

#multchoice input, #multchoice span {
	float:center;
}

#multchoice span {	
	margin: 0em;
}

.submit-button {
	margin:1.5em 0;
	float:left;
	width:70%;
}

label {
	margin-right: 0.3em;
	width: 6.3em; 
	display: inline-block; 
}

#formcol1 li {   
	list-style: none;
}

select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
	color: rgb(0, 0, 0) !important;
	background-color: rgb(106, 255, 198) !important;
}

#formcol1 input.reqfield {
	background:rgb(133, 171, 228);
}

	
		
/* end of form css */
	
